.cards-panel {
    border: 1px solid;
    border-radius: 4px;
    display: flex;
}

.showcase-intro-panel {
    margin: 20px;
    max-width: 300px;
}

mat-card {
  margin: 20px;
  max-width:500px;
}

.card-image {
    min-width: 125px;
    padding-bottom: 75%;
    background-position: center center;
    background-size: cover;
}

@media screen and (max-width: 600px) {
  .cards-panel {
      flex-direction: column;
      width: 100%;
  }
}
