.cards-panel {
    border: 1px solid;
    border-radius: 10px;
    padding: 0px 0px 100px 0px;
    display: flex;
    flex-direction: column;
}

.showcase-intro-panel {
    margin: 20px;
    max-width: 300px;
}

h1 {
    font-size: 40px;
    margin: 10px 10px 20px 10px;
}

.showcase-description {
    margin: 10px;
}

.cards-container {
  display: flex;
  flex-direction: column;
}

.card-class {
  margin: 20px 5px 20px 5px;
  border-radius: 10px;
}

.card-image {
    min-width: 125px;
    height: 500px;
    /*padding-bottom: 75%;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .cards-panel {
      flex-direction: column;
      width: 100%;
  }

  .cards-container {
    flex-direction: column;
    width: 100%;
  }

  .card-class {
    margin: 20px;
    max-width: 100%;
  }
}
