<div class="cards-panel">
  <div class="showcase-intro-panel">
    <h1>{{ title }}</h1>
    <p class="showcase-description">{{ description }}</p>
  </div>
  <div class="cards-container" [ngClass]="{'full-width' : fullWidth}">
    <div *ngFor="let data of cardData" >
      <a href="{{ data.link }}">
        <mat-card class="card-class">
          <mat-card-header>
            <mat-card-title>{{ data.title }}</mat-card-title>
          </mat-card-header>
          <div mat-card-image class="card-image" [ngStyle]="{'background-image': 'url(' + data.imageSource + ')'}"></div>
          <mat-card-content>
            <p>{{ data.content }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
