<div class="cards-panel">
  <div class="showcase-intro-panel">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Example Card</mat-card-title>
    </mat-card-header>
    <div mat-card-image class="card-image" [ngStyle]="{'background-image': 'url(' + imageSource1 + ')'}"></div>
    <mat-card-content>
      <p>Content here</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Example Card</mat-card-title>
    </mat-card-header>
    <div mat-card-image class="card-image" [ngStyle]="{'background-image': 'url(' + imageSource2 + ')'}"></div>
    <mat-card-content>
      <p>Content here</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Example Card</mat-card-title>
    </mat-card-header>
    <div mat-card-image class="card-image" [ngStyle]="{'background-image': 'url(' + imageSource3 + ')'}"></div>
    <mat-card-content>
      <p>Content here</p>
    </mat-card-content>
  </mat-card>
</div>
