/* These local styles override CSS for just this component. */

ul {
    list-style-type: none;
    margin-bottom: 0px;
}

li {
    display: flex;
}

li div:first-child {
    margin: 0px 20px 0px 0px;
    min-width: auto;
}

li div.long-bullet:first-child {
    margin: 0px 20px 0px 0px;
    min-width: 125px;
}

.work-item:last-child {
    margin-bottom: 0px;
}

/* XLarge */
@media screen and (max-width: 1800px) {
    
    li div:first-child {
        min-width: auto;
    }

    li div.long-bullet:first-child {
        min-width: 100px;
    }
}

/* Large */
@media screen and (max-width: 1280px) {
    
    li div:first-child {
        min-width: auto;
    }

    li div.long-bullet:first-child {
        min-width: 100px;
    }
}

/* Medium */
@media screen and (max-width: 980px) {
    
    li div:first-child {
        min-width: auto;
    }

    li div.long-bullet:first-child {
        min-width: 100px;
    }
}

/* Small */
@media screen and (max-width: 736px) {
    
    li div:first-child {
        min-width: auto;
    }

    li div.long-bullet:first-child {
        min-width: 100px;
    }
}

/* XSmall */
@media screen and (max-width: 480px) {
    
    li div:first-child {
        min-width: auto;
    }

    li div.long-bullet:first-child {
        min-width: 100px;
    }
}