<div class="cards-panel">
  <div class="showcase-intro-panel">
    <h1>{{ title }}</h1>
    <p class="showcase-description">{{ description }}</p>
  </div>
  <div class="cards-container">
    <a *ngFor="let data of listData"
       [href]="data.link == '' ? null : data.link"
       target="_blank"
       [class.disabled]="data.link == '' ? true : null"
       class="listitem-link-card">
      <mat-card class="listitem-card">
        <mat-card-header>
          <div mat-card-avatar class="listitem-header-image"
               [ngStyle]="{'background-image': 'url(' + data.imageSource + ')'}"></div>
          <mat-card-title>{{ data.position }}</mat-card-title>
          <mat-card-subtitle>{{ data.course }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
  </div>
</div>
