.cards-panel {
  padding: 0px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  max-width: 1040px;
}

.showcase-intro-panel {
  margin: 20px 20px 20px 20px;
}

/*h1 {
  font-size: 40px;
  margin: 20px 10px 20px 10px;
}*/

.showcase-description {
  margin: 10px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 10px 0px 10px;
}

mat-grid-list {
    width: stretch;
}

.listitem-link-card {
  width: stretch;
  margin: 10px;
}

/* Change opacity on hover for active links only. */
.listitem-link-card:hover:not(.disabled) {
    opacity: 70%;
}

/* Disabled (non-active) links. */
a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.listitem-card {
  border-radius: 10px;
}

.listitem-header-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0px;
}

@media screen and (max-width: 730px) {

}
