<div id="main">
  <!-- One -->
  <section id="one">
    <header class="major">
      <h2>A visual storyteller supporting human<br />
      collaboration and data science.</h2>
    </header>
    <p>I work in the Sonoran Visualization Lab at Arizona State University with <a href="https://chrisbryan.github.io/" target="_blank">Dr. Chris Bryan</a>. My research interests span collaboration, visualization, and immersive experiences. I explore how computer-mediated systems can support human collaboration, especially applied to communication and data visualization. I firmly believe in and practice open, accessible, and inclusive science.</p>
    <ul class="actions">
      <li><a routerLink="/research" class="button">Research</a></li>
      <li><a routerLink="/publications" class="button">Publications</a></li>
      <li><a routerLink="/cv" class="button">CV</a></li>
    </ul>
  </section>

<!-- Two -->
  <!-- <section id="two">
    <h2>Recent Work</h2>
    <div class="row">
      <article class="col-6 col-12-xsmall work-item">
        <a href="./assets/images/fulls/01.jpg" class="image fit thumb"><img src="./assets/images/thumbs/01.jpg" alt="" /></a>
        <h3>Magna sed consequat tempus</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="col-6 col-12-xsmall work-item">
        <a href="./assets/images/fulls/02.jpg" class="image fit thumb"><img src="./assets/images/thumbs/02.jpg" alt="" /></a>
        <h3>Ultricies lacinia interdum</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="col-6 col-12-xsmall work-item">
        <a href="./assets/images/fulls/03.jpg" class="image fit thumb"><img src="./assets/images/thumbs/03.jpg" alt="" /></a>
        <h3>Tortor metus commodo</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="col-6 col-12-xsmall work-item">
        <a href="./assets/images/fulls/04.jpg" class="image fit thumb"><img src="./assets/images/thumbs/04.jpg" alt="" /></a>
        <h3>Quam neque phasellus</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="col-6 col-12-xsmall work-item">
        <a href="./assets/images/fulls/05.jpg" class="image fit thumb"><img src="./assets/images/thumbs/05.jpg" alt="" /></a>
        <h3>Nunc enim commodo aliquet</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="col-6 col-12-xsmall work-item">
        <a href="./assets/images/fulls/06.jpg" class="image fit thumb"><img src="./assets/images/thumbs/06.jpg" alt="" /></a>
        <h3>Risus ornare lacinia</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
    </div>
    <ul class="actions">
      <li><a href="#" class="button">Full Portfolio</a></li>
    </ul>
  </section> -->

  <app-gallery-section sectionId="two"
                       title="Recent Work"
                       dataSource="./assets/content-data/recent-work.json"
                       (contentLoaded)="onComponentContentLoaded($event)"></app-gallery-section>

  <app-list-section sectionId="three"
                    title="Affiliations"
                    description="I seek out volunteering and professional oppportunities with professional and academic research organizations, STEM education groups, and queer and youth advocacy groups."
                    dataSource="./assets/content-data/affiliations-list.json"
                    (contentLoaded)="onComponentContentLoaded($event)"></app-list-section>

  <!-- <section id="three">
    <h2>Affiliations</h2>
    <app-list-showcase title="Affiliations"
                    description="I seek out volunteering and professional oppportunities with professional and academic research organizations, STEM education groups, and queer and youth advocacy groups."
                    dataSource="../../assets/showcase-content/orgs-list.json"
                    [fullWidth]="false"></app-list-showcase>
  </section> -->

  <!-- Three -->
  <section id="four">
    <h2>Get In Touch</h2>
    <p>I am currently seeking collaborators interested in working on projects in HCI, CSCW, and Collaborative Visualization.</p>
    <div class="row">
      <div class="col-8 col-12-small">
        <form method="post" action="#">
          <div class="row gtr-uniform gtr-50">
            <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
            <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
            <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
          </div>
        </form>
        <ul class="actions">
          <li><input type="submit" value="Send Message" /></li>
        </ul>
      </div>
      <div class="col-4 col-12-small">
        <ul class="labeled-icons">
          <li>
            <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
            1234 Somewhere Rd.<br />
            Nashville, TN 00000<br />
            United States
          </li>
          <li>
            <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
            000-000-0000
          </li>
          <li>
            <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
            <a href="#">hello&#64;untitled.tld</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>