/* These local styles override CSS for just this component. */

#nav-div {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 1;
    margin-top: 3em;
    padding: 0.5em 0em;
}

#nav-div :first-child {
    margin-right: 10px;
}

#nav-div p:first-of-type {
    margin-right: 10px;
}

#nav-div p {
    margin-bottom: 0px;
}

header.major h2 {
    margin-bottom: 0px;
}
