<div id="main">
  <!-- Navigation -->
  <div id="nav-div">
		<a routerLink="/" [hidden]="navDisplayTitle == 'Home'" class="">Home</a>
    <p>></p>
		<p id="page-title">{{ navDisplayTitle }}</p>
	</div>

  <section id="research-header">
    <header class="major">
      <h2>Research</h2>
    </header>
    <p>My research interests span Data Visualization, Computer-Supported Cooperative Work (CSCW), Human-Computer Interaction (HCI), Rendering, and Modeling and Simulation. I have several ongoing projects:</p>

    <ul>
      <li><a href="/research#project-collab-xr-survey">Systematic Review of Collaborative Behaviors in XR</a></li>
      <li><a href="/research#project-collab-vis-survey">Systematic Review of Collaborative Data Visualization</a></li>
      <li><a href="/research#project-cscw-theory">Collaboration and CSCW Theory</a></li>
      <li><a href="/research#project-adaptive-interfaces">Adaptive Interfaces to Support References</a></li>
    </ul>
  </section>

  <!-- Research Project -->
  <section id="project-collab-xr-survey">
    <h2>Systematic Review of Collaborative Behaviors in XR</h2>

    <p>I am leading a large-scale systematic review of collaborative behaviors in extended reality (XR) to understand the scope of the theories and methods used to study and describe these behaviors.</p>
  </section>
  <section id="project-collab-vis-survey">
    <h2>Systematic Review of Collaborative Data Visualization</h2>

    <p>Visualization techniques have changed significantly since the topic of Collaborative Data Visualization was defined over a decade ago. I am leading a large-scale systematic review of collaborative data visualization papers published across nine venues exploring five main themes: Project Design and Artifacts, Visualization Setup, Collaboration Setup, Population and Sample, and Scientific Rigor.</p>
  </section>
  <section id="project-cscw-theory">
    <h2>Collaboration and CSCW Theory</h2>

    <p>Collaborators can be viewed as multiple agents exchanging information within a context. I am developing a theory around reframing CSCW systems as computer-mediated interventions to overcome constratints on the exchange of information.</p>
  </section>
  <section id="project-adaptive-interfaces">
    <h2>Adaptive Interfaces to Support References</h2>

    <p>CSCW systems provide significant opportunities to assist with referential communication between collaborators. I am examining how an adaptive interface can help adjust the context of users collaboratively analyzing datasets. By bringing divergent contexts into alignment, the system can assist collaborators in understanding each other's references.</p>
  </section>
</div>
