.panel-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.panel-item {
    margin: 20px 0px 20px 0px;
}

.profile-pic {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.profile-details-container {
  padding: 20px 0px 20px 20px;
  width: 100%;
}

h1 {
    font-size: 48px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .panel-container {
        display: flex;
        flex-direction: row;
    }

    .profile-pic {
        max-width: 250px;
    }
}

@media screen and (max-width: 730px) {
  .panel-container {
    display: flex;
    flex-direction: column;
  }

  .profile-pic {
      max-width: 100%;
  }

  .profile-details-container {
    padding: 0px;
  }
}
