<div class="panel-container">
  <div class="panel-item">
    <img class="profile-pic" src="../../assets/profile-pic.jpg" alt="Photo of Michael Kintscher" />
  </div>
  <div class="profile-details-container">
    <div class="panel-item">
      <h1>Michael Kintscher</h1>
      <p><i>they/them</i></p>
    </div>
    <mat-divider></mat-divider>
    <div class="panel-item">
      <p>Visual Storyteller. I am a PhD Student at the ASU Sonoran Visualization Lab.</p>
      <p>I'm passionate about visual storytelling, interactive experiences, simulation and game design, and data visualization.</p>
    </div>
  </div>
</div>
