a,
a:link,
a:visited {
  color: white;
}

a:hover {
  color: lightgray;
}

a:active {
  color: darkgray;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

mat-sidenav-container {
}

.content-container {
    display: flex;
    flex-direction: column;
}

.main-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 50px;*/
}

.page-footer {
  background-color: #212121;
  width: stretch;
  height: 200px;
  text-align: center;
}

.page-footer span {
    line-height: 200px;
}

.page-footer .footer-text {
    vertical-align: middle;
    display: inline-block;
    color: lightgray;
    margin: 50px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 730px) {
  .main-container {
    padding: 20px;
  }

  .education-items {
      width: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .education-tile {
      width: stretch;
  }
}
