#nav-div {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    margin-left: 35%;
    padding: 1em 4em;
    width: 100%;
    background-color: #1f1815;
}

#nav-div p {
    margin-bottom: 0px;
    margin-left: 20px;
}