/* #nav-div {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    margin-left: 35%;
    padding: 1em 4em;
    width: 100%;
    background-color: #1f1815;
} */

#sidebar-image-div {
    width: 100%;
    height: 200%;
}

#nav-div {
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 35%;
    padding: 0.5em 4em;
    width: stretch;
    background-color: #353d51;
}

#nav-div :first-child {
    margin-right: 20px;
}

#nav-div p {
    margin-bottom: 0px;
}

/* XLarge */
@media screen and (max-width: 1800px) {
    

}

/* Large */
@media screen and (max-width: 1280px) {
    

}

/* Medium */
@media screen and (max-width: 980px) {
    
    #nav-div {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0px;
        z-index: 1;
        margin: 0px;
        padding: 1em 4em;
        width: 100%;
        background-color: #1f1815;
    }
}

/* Small */
@media screen and (max-width: 736px) {
    
    
}

/* XSmall */
@media screen and (max-width: 480px) {
    
    
}