.research-area-container {
  display: flex;
  background-color: #212121;
}

.research-area-content {
    margin: 20px;
    width: 60%;
}

.research-area-image img {
    max-width: 500px;
    width: stretch;
}

.research-area-description {
    max-width: 400px;
    margin: 0px 10px 20px 0px;
}

.publication-button {
  display: inline-block;
  border: 1px solid white;
  padding: 10px;
}

@media screen and (max-width: 750px) {
  .research-area-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .research-area-content {
    width: 100%;
  }
}
