#news-content-block {
    margin: 20px;
}

.education-container {
  padding: 30px 0px 80px 0px;
}

.education-container h1 {
  margin: 20px 20px 40px 20px;
  font-size: 42px;
  text-align: center;
}

.education-items {
  width: stretch;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  padding: 0px 20px 0px 20px;
}

.education-tile {
  flex: 1;
  margin: 10px;
}

@media screen and (max-width: 750px) {
    .education-items {
        flex-direction: column;
    }
}
