#contact-card-container {
  margin: 50px 0px 0px 0px;
  text-align: center;
}

h1 {
    font-size: 36px;
}

#contact-card-container p {
    font-style: italic;
}

.contact-qr-code-container {
    margin: 50px;
}

#contact-qr-code {
  max-width: 400px;
  width: 100%;
}
