.education-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-card img {
    width: 50%;
    max-width: 200px;
}

.education-card .education-degree {
    font-size: 36px;
    margin: 20px;
}

.education-card .education-year {
    font-size: 24px;
}

  .education-card
  .education-subject,
  .education-institution {
    font-size: 16px;
    text-align: center;
    word-wrap: normal;
  }
