/* These local styles override CSS for just this component. */

header.major h2 {
    margin-bottom: 0px;
}

#position-text {
    margin-bottom: 20px;
}

#contact-qr-code {
  max-width: 400px;
  width: 100%;
}
