<div id="main">
    <section>
        <h2>First</h2>
        <p>some text here...</p>
    </section>
    <section id="research-section">
        <h2>Research Interests</h2>
        <p>Collaboration, Computer Supported Cooperative Work, Human-Computer Interaction, Data Visualization, Physically-Based Rendering, Modeling and Simulation, Game Engines, Distributed Cognition, Augmented and Mixed Reality</p>
    </section>
    <app-list-section title="Education"
                      description=""
                      dataSource="./assets/content-data/education.json"></app-list-section>
    <app-sectioned-list title="Appointments and Prior Employment"
                        description=""
                        dataSource="./assets/content-data/appointments.json"></app-sectioned-list>
    <app-sectioned-list title="Honors"
                        description=""
                        dataSource="./assets/content-data/honors.json"></app-sectioned-list>
    <app-sectioned-list title="Research Publications"
                        description=""
                        dataSource="./assets/content-data/publications.json"
                        boldText="Michael Kintscher"></app-sectioned-list>
    <section>
        <h2>Service</h2>
        <p>some text here...</p>
    </section>
    <section>
        <h2>Teaching</h2>
        <p>some text here...</p>
    </section>
</div>
